.roadmap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;

}


.roadmap-section {
    display: flex;
    flex-direction: column;
    position: relative;

}

.roadmap-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 3rem;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.71);
    margin-top: 30px;
    /* outline: 1px solid red; */
    margin-left: -100px;
    margin-top: 30px;

}

.roadmap-list {
    margin-top: 30px;

}

.roadmap-list>li {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* text-align: center; */

    color: rgba(255, 255, 255, 0.75);
}

.roadmap-div {
    display: flex;
    flex-direction: column;
    width: 1px;
    height: 980px;
    border: 1px solid #070315;
    transform: rotate(180deg);
    transform: translate(-225px, 1024px);
    margin-top: -900px;

}

li::marker {
    color: #FFC50C;

}

.container,
.wrapper,
.div {
    display: flex;
    width: 1px;
    height: 70px;
    border: 1px solid #070315;
    transform: rotate(90deg);
    position: absolute;
    top: 10px;
}


.container {
    left: -22px;
}

.wrapper {
    /* height: 60px; */
    /* top: 15px; */
    left: 99px;
}

.div {
    height: 67px;
    /* top: 15px; */
    left: 89px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 120px;
}

@media screen and (max-width: 576px) {
    .roadmap-text {
        font-size: 2rem;
        line-height: 24px;
        margin-left: -40px;
        margin-top: 80px;

    }

    .roadmap-list>li {
        font-size: 12px;
        line-height: 20px;
        margin-left: 40px;

    }

    .flex {
        margin-left: 30px;
        /* padding-right: 20px; */
    }

    .roadmap-div {
        transform: translate(-145px, 915px);
        height: 820px;

    }

    .container,
    .wrapper,
    .div {
        top:60px;
        
    }

    .container {
        left: 20px;
    }

    .wrapper {
        left: 65px;
    }

    .div {
        left: 65px
    }

}

@media screen and (max-width: 400px) {
    

    .wrapper,
    .div {
        top:58px;
        left: 48px;
    }

   
}

@media screen and (max-width: 360px) {
    

    .wrapper,
    .div {
       
        left: 42px;
    }

   
}