.app__navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 9rem;

}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app__navbar-logo img {
    width: 80px;
}

.app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    margin-left: 9rem;



}

.app__navbar-links li {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

    color: var(--text-color);

    margin: 0 2rem;
    cursor: pointer;

}

.flex__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-left: 50px;
}


.flex__list>li {
    width: 227px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid #DE00AC;
    border-radius: 21px;


}