.social_network {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #070315;
    padding-bottom: 40px;
}

.social_network-heading {
    display: flex;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 50px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;

    margin-top: 50px;
}


.social_network-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    place-items: center center;
}

@media screen and (max-width: 992px) {
    .social_network-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 40px;
       
    }

    .social_network-heading {
       
        font-size: 40px;
        line-height: 26px;
       
    }
    
}

@media screen and (max-width: 576px) {
    .social_network-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        
    }

    .social_network-heading {
       
        font-size: 30px;
        line-height: 22px;
    }
    
}
