.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 40px;


    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 23%, rgba(52, 13, 56, 1) 50%, rgba(7, 2, 23, 1) 77%);

}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-logo>img {
    width: 254px;
    height: 219.77px;
}

.footer-para {
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: rgba(255, 255, 255, 0.75);
    margin-top: 20px;
}

.footer-logo>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    gap: 10px;
    padding-bottom: 20px;
}

.footer-logo>div>input {
    width: 199px;
    height: 49px;
    background: #070315;
    border: 1px solid #ADA2C3;
    border-radius: 7px;
    text-indent: 10px;
    
}

.footer-logo>div>button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 49px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: rgba(255, 255, 255, 0.75);
    background: #DE00AC;
    border-radius: 7px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    margin-top: -150px;
}


.terms {
    margin-top: -230px;
}

h2 {


    font-family: var(--font-family);
    font-weight: 600;
    font-size: 30px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.86);

    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.86);
    padding-top: 10px;
}

.footer-social_media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.footer-social_media>p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 230px;
    /* outline: 1px solid red; */
    /* line-height: 16px; */
    padding-top: 10px;


}

.footer-social_media>p>img {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 20px;
    height: 22px;

}