body {
  font-size: 1.6rem;
  background: #070315;
  padding-bottom: 170px;
}


.flex-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(51, 6, 47);
  padding-bottom: 100px;
}

.app-border {
  border-left: 2px solid #ADA2C3;
  border-right: 2px solid #ADA2C3;
}

.app-token {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background: #070315;
  /* outline: 2px solid red; */
  padding: 0 20px;
}

.app-token_display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: -30px;
  padding: 0px 80px;
  gap: 16px 80px;
}

.app-token_feature {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: 30px;
  margin-bottom: 70px;
}

.app-token_feature>h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 5rem;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFC50C;

  margin-top: 30px;
}

.app-token_feature>p {
  width: 632.01px;
  height: 120px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 3rem;
  line-height: 60px;
  color: rgba(255, 255, 255, 0.8);

  margin-top: 30px;
  padding-left: 5px;
}

.app-roadmap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #290428;
  margin-top: 30px;
}

.roadmap-content {
  display: flex;
}

.roadmap-heading {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 5rem;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFC50C;

  margin-top: 30px;

}

@media screen and (max-width: 992px) {
  .flex-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .app-token_display {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .app-border {
    border-top: 2px solid #ADA2C3;
    border-bottom: 2px solid #ADA2C3;
    border-left: none;
    border-right: none;
    padding: 25px 0px;

  }

  .services__content {
    padding: 0 30px;
  }

}


@media screen and (max-width: 576px) {
  /* .app-token {
    overflow: hidden;
  } */
  
  .app-token_display {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 0px;
    gap: 20px ;
    
  }

  .app-token_feature>h2 {
    font-size: 3rem;
    line-height: 24px;
  }

  .app-token_feature>p {
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.6rem;
    line-height: 24px;
    
    margin-top: -20px;
  }
}