body {
  font-size: 1.6rem;
  background: #070315;
  padding-bottom: 170px;
}

.section__background {
  /* background: #0f7e41; */
  
}

.flex-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(51, 6, 47);
  padding-bottom: 100px;
}

.app-border {
  border-left: 2px solid #ADA2C3;
  border-right: 2px solid #ADA2C3;
}

.app-token {
  width: 100%;
  display: grid;
  place-items: center;
  background: #070315;
}

.app-token_display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: -30px;
  padding: 0px 80px;
  gap: 16px 80px;
}

.app-token_feature {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  margin-top: 30px;
  margin-bottom: 70px;
}

.app-token_feature>h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 5rem;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFC50C;

  margin-top: 30px;
}

.app-token_feature>p {
  width: 632.01px;
  height: 120px;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 3rem;
  line-height: 60px;
  color: rgba(255, 255, 255, 0.8);

  margin-top: 30px;
  padding-left: 5px;
}

.app-roadmap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #290428;
  margin-top: 30px;
}

.roadmap-content {
  display: flex;
}

.roadmap-heading {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 5rem;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFC50C;

  margin-top: 30px;

}